:root{
    --bg1:#9b59b6;
    --bg2:#3498db;
    --bg3:#dfe1ec;
}
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #eef8ff;
}
.container.active{
    width: 350px;
    height: 450px;
    border-radius: 10px;
    background: linear-gradient(var(--bg1), var(--bg2));
    opacity: 1;
}
.container.active .icon-social{
    opacity: 1;
}
.container{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: linear-gradient(var(--bg1), var(--bg2));
    transition: 0.3s;
    overflow: hidden;
}


.container img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 20px auto;
    position: relative;
    transition: 0.5s;
}
.container img.active{
    width: 350px;
    height: 450px;
    border: 5px solid #fff;
    margin: 0 ;
   border-radius: 10px;
}
.container h2{
    color: #fff;

}

.container p {
    color: #fff;
    margin:  0 30px 12px;
}
.btn-container{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 12px;
    
}
.btn-container button{
    height: 35px;
    width: 150px;
    border: none;
    margin-right: 12px;
    border-radius: 5px;
    color: #333333;
    cursor: pointer;
}
.btn_ketban:hover{
    

}
.btn_ketban{
    color: var(--bg1) !important;

}
.icon-social{
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateX(-50%);
    /* transform: translateY(-60px); */
    transition: 0.5s;
   
    
}
.icon-social i{
    padding: 12px;
    color: var(--bg1);
    background: #FFF;
    border-radius: 50%;
    margin: 5px 0 0 12px;
    border: 1px solid var(--bg1);
}
.container .icon-social{
    transform: translateX(0px);
    opacity: 0;
}